<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="windowsmanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <windowsmanger.Properties.Settings>
            <setting name="HoutaiIsStop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CmsIsStop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HoutaiScan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Houtaijiaoben" serializeAs="String">
                <value>0</value>
            </setting>
        </windowsmanger.Properties.Settings>
    </userSettings>
</configuration>
